[Unit]
After=network.target

[Service]
LimitNOFILE=1048576
ExecStart={{manager_path}}/ManagerServer.exe -port {{manager_port}} -path {{manager_data}}
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
